body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;

}

h2.heading {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, td {
    padding: 10px;
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -20%;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #008CBA;
}

.submit-btn {
    border: none;
    color: #fff;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.submit-btn:hover {
    background-color: #ffffff;
    color: #000000;
}
